---
import '../styles/global.css';
import { getSchema } from "../utils/schema";

interface Props {
	title: string;
	description: string;
	image?: string;
	imageAlt?: string;
}

const { title, description, image, imageAlt } = Astro.props;

const imagePath = image ? new URL(image, Astro.site).href : null;

const url = new URL(Astro.url.pathname, Astro.site).href;

const isHome = Astro.url.pathname === "/";
const isProject = Astro.url.pathname.startsWith("/projects/");

const schema = getSchema({
	title,
	description,
	url,
	isHome,
	isProject
});

const jsonLdString = JSON.stringify(schema);
---

<!-- Essential Elements -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<!-- Basic Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="application-name" content="Max Parisi" />
<meta name="author" content="Max Parisi" />
<link rel="canonical" href={url} />

<!-- Theme Color -->
<meta name="theme-color" content="#7611a6" />
<meta name="color-scheme" content="light dark" />

<!-- Software Attribution -->
<meta name="generator" content={Astro.generator} />

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Max Parisi" />
<link rel="manifest" href="/site.webmanifest" />

<!-- OpenGraph Metadata -->
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="Max Parisi" />
<meta property="og:locale" content="en_US" />
{imagePath && <meta property="og:image" content={imagePath} /> }
{imageAlt && <meta property="og:image:alt" content={imageAlt} /> }

<!-- Twitter Cards -->
<meta name="twitter:card" content={imagePath ? "summary_large_image" : "summary"} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{imagePath && <meta name="twitter:image" content={imagePath} /> }

<!-- Sitemap and RSS Feed -->
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title="Subscribe to RSS Feed" href="/rss.xml" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap" rel="stylesheet" />

<!-- Theme Preferences -->
<script is:inline> // is:inline so this runs ASAP (otherwise there will be an initial "flicker")
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('theme-dark');

	if (typeof localStorage !== 'undefined') {
		// Watch the document element and persist user preference when it changes.
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('theme-dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<!-- JSON-LD Schema -->
<script type="application/ld+json" set:html={jsonLdString} />

<!-- Console Easter Egg -->
<script>
	const styles = getComputedStyle(document.documentElement);

	const brand = styles.getPropertyValue('--font-brand').trim();
	const body = styles.getPropertyValue('--font-body').trim();

	console.log(
		[
			"%c👋 Hey there!%c",
			"",
			"Looks like you've found the console.",
			"",
			"Most people see my portfolio...",
			"but you took a look under the hood.",
			"",
			"Interested to see how it works?",
			"Check out the source code at",
			"https://maxparisi.me/gh/portfolio",
			"",
			"Have fun!",
			"Max"
		].join('\n'),
		`font-size: 24px; font-family: ${brand}; font-weight: 500;`,
		`font-size: 16px; font-family: ${body};`
	);
</script>